.new-project {
    width: 80%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.header-container h1 {
    text-indent: 15px;
}

.task-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.new-task {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.task-name {
    width: 70%;
    margin-left: 5px;
}

.task-date {
    width: 30%;
}

.task-remove {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    opacity: 0.6;
    cursor: pointer;
    margin-right: 5px;
}

.task-remove:hover {
    opacity: 1;
}