body {
    background-color: rgba(0, 0, 0, 0.7);
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.checklist-container {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.header-container h1 {
    border: 1px solid red;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.task-container {
    border: 1px solid blue;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-container {
    width: 100%;
    display: grid;
    margin-top: 1%;
}
.task-input {
    grid-row: 1/2;
    grid-column: 1/3;
}
.date-input {
    grid-row: 2/3;
    grid-column: 1/2;
}
.form-container button {
    grid-row: 2/3;
    grid-column: 2/3;
}

.newProject-btn {
    width: 30%;
    background-color: green;
    border: none;
    padding: 1%;
    text-align: left;
    text-indent: 3%;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 2%;
    right: 2%;
}
.newProject-btn:hover {
    background-color: rgba(0, 255, 0, 1)
}